# Dependencies
node_modules/

# Environment files
.env

# Build outputs
dist/

# MongoDB backup files
backup/
mongodb-tools/

# Archive files
*.zip
*.gz

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Temporary files
temp.txt

# Vercel
.vercel
